<div>
    <label for="tamanhoPagina">Itens por página </label>
    <select name="tamanhoPagina"
            id="tamanhoPagina"
            [(ngModel)]="tamanhoPagina"
            (change)="mudarTamanhoPagina()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</div>
<nav>
    <ul>
        <li>
            <a href="javascript:void(0)"
               (click)="mudarPagina(0)">Primeira</a>
        </li>
        <li *ngIf="paginaAtual > 2">...</li>
        <li *ngFor="let pagina of listarPaginas()">
            <a href="javascript:void(0)"
               (click)="mudarPagina(pagina)"
               [ngClass]="{'ativo': paginaAtual == pagina}">{{pagina + 1}}</a>
        </li>
        <li *ngIf="paginaAtual < totalPaginas - 3">...</li>
        <li>
            <a href="javascript:void(0)"
               (click)="mudarPagina(totalPaginas - 1)">Última</a>
        </li>
    </ul>
</nav>
