<a class="skip-link" [routerLink]="[currentUrl]" [fragment]="'main'">
    Ir para o conteúdo principal
</a>
<header>
  <div id="logo">
      <img src="assets/imagens/logo_branco.png" alt="Logo SGCM">
      <span id="titulo">{{ title }}</span>
  </div>
  <div id="usuarioInfo" *ngIf="!isLogin()">
      <span>Usuário: {{usuario.nomeCompleto}} ({{usuario.nomeUsuario}})</span>
      <span>Papel: {{usuario.papel}}</span>
      <app-tema-select></app-tema-select>
      <a href="javascript:void(0)"
         (click)="logout()"
         class="botao">Logout</a>
  </div>
</header>
<nav *ngIf="!isLogin()">
  <ul>
      <li><a routerLink="/agenda">Agenda</a></li>
      <li><a routerLink="/atendimento">Atendimento</a></li>
      <li><a routerLink="/pacientes">Pacientes</a></li>
      <li><a routerLink="/profissionais">Profissionais</a></li>
      <li><a routerLink="/convenios">Convênios</a></li>
      <li id="dropdown" *ngIf="isAdmin()">
          <a href="javascript:void(0)">
              Configurações
              <span>&#9660;</span>
          </a>
          <div id="dropdown_menu">
              <a routerLink="/config/unidades">Unidades</a>
              <a routerLink="/config/especialidades">Especialidades</a>
              <a routerLink="/config/usuarios">Usuários</a>
          </div>
      </li>
  </ul>
</nav>
<main id="main">
    <app-loader></app-loader>
    <app-alerta></app-alerta>
    <router-outlet></router-outlet>
</main>
<footer>
  <span>SGCM - Sistema de Gerenciamento de Clínica Médica</span>
  <span>Suporte técnico: (68) 5555-5555 | <a href="mailto:suporte.sgcm@ufac.br">suporte.sgcm&#64;ufac.br</a></span>
</footer>
